In [1]:
#1. Create a list of numbers 100 elements in length that counts by 3s - i.e., [3,6,9,12,...]
generator = (3 * i for i in range(1,101))
list1 = list(generator)
list1

In [2]:
#2. Using the list from question 1, create a second list whose elements are the same values converted to strings. hint: use a for loop and the function str().
list2 = [str(i) for i in (list1)]

In [3]:
list2

['3',
 '6',
 '9',
 '12',
 '15',
 '18',
 '21',
 '24',
 '27',
 '30',
 '33',
 '36',
 '39',
 '42',
 '45',
 '48',
 '51',
 '54',
 '57',
 '60',
 '63',
 '66',
 '69',
 '72',
 '75',
 '78',
 '81',
 '84',
 '87',
 '90',
 '93',
 '96',
 '99',
 '102',
 '105',
 '108',
 '111',
 '114',
 '117',
 '120',
 '123',
 '126',
 '129',
 '132',
 '135',
 '138',
 '141',
 '144',
 '147',
 '150',
 '153',
 '156',
 '159',
 '162',
 '165',
 '168',
 '171',
 '174',
 '177',
 '180',
 '183',
 '186',
 '189',
 '192',
 '195',
 '198',
 '201',
 '204',
 '207',
 '210',
 '213',
 '216',
 '219',
 '222',
 '225',
 '228',
 '231',
 '234',
 '237',
 '240',
 '243',
 '246',
 '249',
 '252',
 '255',
 '258',
 '261',
 '264',
 '267',
 '270',
 '273',
 '276',
 '279',
 '282',
 '285',
 '288',
 '291',
 '294',
 '297',
 '300']

In [4]:
type(list2[1])

str

In [5]:
#3
concatlist2 = "".join(list2)
concatlist2

'369121518212427303336394245485154576063666972757881848790939699102105108111114117120123126129132135138141144147150153156159162165168171174177180183186189192195198201204207210213216219222225228231234237240243246249252255258261264267270273276279282285288291294297300'

In [6]:
#4
newList = []
for i in range(len(list1)):
    newList.append(list1.pop())

In [7]:
newList

[300,
 297,
 294,
 291,
 288,
 285,
 282,
 279,
 276,
 273,
 270,
 267,
 264,
 261,
 258,
 255,
 252,
 249,
 246,
 243,
 240,
 237,
 234,
 231,
 228,
 225,
 222,
 219,
 216,
 213,
 210,
 207,
 204,
 201,
 198,
 195,
 192,
 189,
 186,
 183,
 180,
 177,
 174,
 171,
 168,
 165,
 162,
 159,
 156,
 153,
 150,
 147,
 144,
 141,
 138,
 135,
 132,
 129,
 126,
 123,
 120,
 117,
 114,
 111,
 108,
 105,
 102,
 99,
 96,
 93,
 90,
 87,
 84,
 81,
 78,
 75,
 72,
 69,
 66,
 63,
 60,
 57,
 54,
 51,
 48,
 45,
 42,
 39,
 36,
 33,
 30,
 27,
 24,
 21,
 18,
 15,
 12,
 9,
 6,
 3]

In [8]:
#5. Using len(), calculate the midpoint of the list from question 1. Pass this midpoint to slice the list so that the resultant copy includes only the second half of the list from question 1.

In [9]:
generator = (3 * i for i in range(1,101))
list1 = list(generator)

len(list1)/2

50.0

In [10]:
list1[49:100]

[150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300]

In [11]:
#6
everyOther = concatlist2[::2]
everyOther

'392581470369258147036925814703690150111172132193153114175135196156117178138199159210271231292252213274234295255216277237298258219270'

#7
The difference between lists and tuples is that lists can be changed, but tuples can not be changed.
This means that functions such as .remove, .append, and .pop will not work with a tuple.